.navbar {
    background-color: black;
}

.logo {
    height: 35px;
}

body {
    background-color: black;
}

.avatar {
    height: 30px;
}

.bi {
    color: white;
}

.jumbotron {
    font-weight: bold;
}

.jumbotron button {
    background-color: black;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}

.film:hover {
    transform: scale(110%);
    box-shadow: 5px 5px 15px 5px #3a3a3a;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.carousel-inner {
    overflow: visible;
}

.film {    
    transition: transform 0.2s ease-in-out;
}

#carousel button {
    width: 7%;
}

.icons {
    margin-top: 100px;
    margin-bottom: 25px;
}

.icons i {
    padding: 20px;
}

footer {
    color: rgb(148, 147, 147);
}

footer button {
    background-color: black;
    color: rgb(148, 147, 147);
    border: 1px solid rgb(148, 147, 147);
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.bi-c-circle {
    color: rgb(148, 147, 147);
    margin-bottom: 20px;
}

.overlay {
    position: fixed;
    min-height: 120%;
    min-width: 100%;
    display: grid;
    place-items: center;
    z-index: 99999999999;
    background-color: black;
    background-size: cover;
    animation: puff-out-center 4s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.overlay img {
   
}

@keyframes puff-out-center {
    0% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
      transform: scale(2);
      filter: blur(4px);
      opacity: 0;
      z-index: -1;
      height: 0px;
    }
  }

/*@keyframes logo-overlay {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
        height: 0px;
    }
}*/

.carousel-item:hover {
    z-index: 2;
}

.carousel-item .card .card-body {
    opacity: 0;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.75s ease-in-out;
}

.carousel-item .card {
    transform: scale(1);
    transition: transform 0.75s ease-in-out;
}

.carousel-item .card:hover {
    transform: scale(1.04);   
}

.carousel-item .card:hover .card-body {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: unset;
    background-color: black;
    box-shadow: 5px 5px 15px 5px #3a3a3a;
    color: white;
}

.card-body i::before {
    opacity: 0.3;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
    cursor: pointer;
}

.card-body i:hover::before {
    opacity: 1;
    transform: scale(1.2);
}